    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>HAKKIMIZDA</h2>
                    <p>Futbol hakkında gündemde olan her konu başlığını inceleyen ve görüşleriyle konuyu güçlendirerek anlatan yorumcularımızla size iyi bir program sunmayı hedefleyen bir etkinlikle karşınızdayız.</p>
                    <br><br>
                    <h2 style="color: rgb(255, 154, 2);">SPONSORLAR</h2>
                    <img src="img/ds.png" alt="sponsor1">
                    <img src="img/hg.png" alt="sponsor2">
                    <img src="img/tc.png" alt="sponsor3">
                    <img style="margin-top: 18px;" src="img/kkme.png" alt="sponsor4">
                    <img style="margin-top: 18px;" src="img/df.png" alt="sponsor5">
                </div>
            </div>
        </div>
    </section>